.footer{
    padding-top: 10px;
    background-color: lightgray;
    height: 300px;
    font-size: 20px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;    
}

.footer-item{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}

